// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$link-color: #06ba8f;
$text-color: #fff;

$body-bg: #111;
$btn-success-bg: #06ba8f;

$navbar-margin-bottom: 0;
$navbar-inverse-bg: #111;
$navbar-inverse-brand-color: #fff;

$fullview-border-color: #333;

$search-text-color: #fee;
$search-bg-color: #333;