<div class="navbar navbar-default navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <%= link_to root_path, class: 'navbar-brand' do %>
     			<p>Home</p>
            <% end %>
        </div>
    </div>
</div>